HOST=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
PORT=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
FRONTEND_ORIGIN=xxxxxxxxxxxxxxxxxxxxxxx
MONGODB_URI=xxxxxxxxxxxxxxxxxxxxxxxxxxx

JWT_SECRET=xxxxxxxxxxxxxxxxxxxxxxxxxxxx