<div class="form-control">
  <label for="title">Title:</label>
  <input type="text" name="title" placeholder="What's on your mind?" value="{{thought.title}}" />
</div>

<input type="submit" value="Save" />