<h1>Registered books:</h1>

<div class="books-container">
  {{#each books}}
    <div>
      #{{this.id}} - <a href="/books/{{this.id}}"><b>{{this.title}}</b></a> - {{this.pages}} pages
    </div>
  {{/each}}
</div>

<a href="/" class="button">New Book</a>