<h1>Register your book:</h1>

<form action="/books" method="POST">
  <div class="form-control">
    <label for="title">Title:</label>
    <input type="text" name="title" placeholder="Book Title" />
  </div>

  <div class="form-control">
    <label for="pages">Number of pages:</label>
    <input type="number" name="pages" placeholder="Insert book page count" />
  </div>

  <input type="submit" value="Save" />
</form>

<a href="/books" class="button">List of Books</a>